<div class="card text-center bg-dark d-flex flex-column justify-content-center align-items-center" style="width: 18rem;height:18rem">
  <i class="fa-solid fa-house-laptop fs-1 mt-2 text-light"></i>
  <div class="card-body">
    <a href="/user">User</a>
  </div>
</div>
<div class="card text-center bg-dark" style="width: 18rem;">
  <i class="fa-solid fa-user fs-1 mt-2 text-light"></i>
  <div class="card-body">
    <h5 class="card-title text-light">Thông tin Cá Nhân</h5>
  </div>
</div>
<div class="card text-center bg-dark" style="width: 18rem;">
  <i class="fa-solid fa-clock fs-1 mt-2 text-light"></i>
  <div class="card-body">
    <h5 class="card-title text-light">Tra Cứu Thông Tin Giờ Làm/Lương Tháng</h5>
  </div>
</div>
<div class="card text-center bg-dark mt-5" style="width: 18rem;height:18rem">
  <i class="fa-solid fa-clock fs-1 mt-2 text-light"></i>
  <div class="card-body">
    <h5 class="card-title text-light">Thông Tin Covid Cá Nhân</h5>
  </div>
</div>