<div class="container">
  <div class="d-flex justify-content-center align-items-center mt-5">
    <div>
      <h1 class="mb-5">Login or Register here</h1>
      <form method="Post" action="overall">
        <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
          <label for="employeeID" class="mb-3">Employee ID</label>
          <input type="text" class="form-control" name ='employeeID'>
        </div>
        <div class="mb-5 d-flex flex-column justify-content-center align-items-center">
          <label for="password" class="mb-3">Password</label>
          <input type="text" class="form-control" name="password">
        </div>
        <div class="d-flex justify-content-around align-items-center mt-5">
          <button type="submit" class="btn btn-primary" style="width:30%">Login</button>
          <a href="/register" class="btn btn-primary ms-3" style="width:30%">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>