<form method="Post" action="/store">
  <div class="mb-3">
    <label for="name" class="form-label">Full Name</label>
    <input type="text" class="form-control" name ='name'>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="text" class="form-control" name="password">
  </div>
  <div class="mb-3">
    <label for="CovidStatus" class="form-label">Covid infected</label>
    <select class="form-select mt-3" aria-label="Default select example">
      <option value='none'>None</option>
      <option value='1 time'>1 time</option>
      <option value='2 times'>2 times</option>
      <option value='3 times'>3 times</option>
      <option value='4 times'>4 times</option>
      <option value='more than 4 time'>more than 4 times</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="CovidVacinated" class="form-label">Covid Vacination</label>
    <select class="form-select mt-3" aria-label="Default select example">
      <option value='none'>None</option>
      <option value='1 time'>1 time</option>
      <option value='2 times'>2 times</option>
      <option value='3 times'>3 times</option>
      <option value='4 times'>4 times</option>
      <option value='more than 4 time'>more than 4 times</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>