<div class="card text-center bg-dark d-flex flex-column justify-content-evenly align-items-center" style="width: 18rem;height:18rem">
  <i class="fa-solid fa-cards-blank fs-1 mt-2 text-warning"></i>
  <div class="card-body">
    <a href="/user/check-in-screen/check-in-screen"><h5 class="card-title text-light">Điểm Danh/Kết thúc</h5></a>
  </div>
</div>
<div class="card text-center bg-dark" style="width: 18rem;">
  <i class="fa-solid fa-clock fs-1 mt-2 text-light"></i>
  <div class="card-body">
    <a href="/user/day-off"><h5 class="card-title text-light">Nghỉ Phép</h5></a>
  </div>
</div>
