<div class="card text-center bg-dark d-flex flex-column justify-content-center align-items-center" style="width: 18rem;height:18rem">
  <i class="fa-solid fa-cards-blank fs-1 mt-2 text-warning"></i>
  <div class="card-body">
    <h5 class="card-title text-light">Điểm Danh</h5>
  </div>
</div>
<div class="card text-center bg-dark" style="width: 18rem;">
  <i class="fa-solid fa-user fs-1 mt-2 text-light"></i>
  <div class="card-body">
    <h5 class="card-title text-light">Kết thúc</h5>
  </div>
</div>
<div class="card text-center bg-dark" style="width: 18rem;">
  <i class="fa-solid fa-clock fs-1 mt-2 text-light"></i>
  <div class="card-body">
    <h5 class="card-title text-light">Nghỉ Phép</h5>
  </div>
</div>
