h1 {
  font-size: 1 rem;
  font-weight: bold; }

.test {
  color: yellow; }
.btn32{
  background-color: green;
}
.chagavarta-but{
  display: none;
}
.hoverchagavarta-but:hover .chagavarta-but {
  display: block;
  transition: all 0.5s ease-in-out;
}